:root {
  --connect-color: #5FA48B;
  --primary-color: #E1F0E9;
  --hover-color: #6C63FF;
  --heading-font-family: "Noto Serif Display", serif;
  --default-font-family: "Jost", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 90px;
  line-height: 1.5;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 63px;
}

h3 {
  font-family: var(--heading-font-family);
  font-size: 40px;
}

p{
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

a{
  text-decoration: none;
  color: #272142;
}

nav {
  padding: 10px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}

nav a{
  text-decoration: none;
  color: #272142;
}

nav a:hover, nav li.active a {
  color: var(--connect-color);
  transition: all 100ms ease-in-out;
}

.logo {
  max-height: 40px;
}

.nav-name {
  font-family: var(--heading-font-family);
  font-size: 20px;
  font-weight: bolder;

}

.hero {
  background-color: #E1F0E9;
  text-align: center;
  padding: 80px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  color: #272142;
}

.content {
  background-color: #ffff;
  margin: 30px;
}

.content h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--default-font-family);
  
}

.content h3 {
font-size: 24px;
font-family: var(--default-font-family);
margin: 20px 0 0;
}

.content h3 a{
  text-decoration: none;
  color: #272142;
}

.content p {
  font-size: 14px;
}

.content-container {
  padding: 40px 20px;
  
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.contact {
  text-align: center;
}

.btn-connect {
background: var(--connect-color);
border-radius: 4px;
color: #ffff;
font-size: 18px;
line-height: 27px;
padding: 15px 30px;
}

.btn-connect:hover {
  background: #ffff;
  border-color: var(--primary-color);
  border: 1px solid #6C63FF;
  color:#6C63FF;
  transition: all 150ms ease-in-out;
}

.btn-learn {
color: var(--connect-color);
border: 1px solid var(--connect-color);
border-radius: 4px;
font-size: 18px;
line-height: 27px;
padding: 15px 30px;
}

.btn-learn:hover {
  background: var(--connect-color);
  color: #ffff;
  transition: all 150ms ease-in-out;
}

.project-description {
  padding: 120px 60px;
}

.project-images {
  max-height: 575px;
}

.profile-pic {
max-height: 550px;
margin-left: 100px;
}


footer {
    margin: 60px 0;
  }

footer .container {
  max-width: 800px;
}

footer .contact-box {
background-color: var(--primary-color);
padding: 30px 120px;
border-radius: 16px;

}

footer .contact-box p {
margin: 0;
} 

footer p a {
  text-decoration: none;
  color: #272142;
}

footer .social-links a {
  margin: 20px;
  color: var(--connect-color);
  background-color: #ffff;
  padding: 8px 16px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 26px;
}

footer .social-links a:hover {
  color: var(--hover-color);
  transition: all 150ms ease-in-out;
}

footer .social-links-contact-page a {
  margin: 20px;
  color: var(--connect-color);
  background-color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 26px;
}

footer .social-links-contact-page a:hover {
  color: var(--hover-color);
  transition: all 150ms ease-in-out;
}

.open-source {
  font-size: 14px;
}

@media (max-width: 900px) {
  h1{
    font-size: 45px;
    line-height: 2;
  }
  h2{
    font-size: 44px;
  }

  h3 {
    font-size: 30px;
  }

  nav a{
    font-size: 14px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }

  .profile-pic {
    margin-left: 0;
    }

  footer .contact-box {
    padding: 24px;
    }

  footer .social-links {
    text-align: center;
    margin: 0;
  padding: 0;
  font-size: 20px;
  }

  footer .btn-connect {
      padding: 5px 10px;
      font-size: 16px;
    }
}